<% include('../layouts/header.ejs') %>

    <style>
        body {
            background-color: #c3e6cb;
         
        }

        h1 {
            color: #004085;
           
        }

        table {
            width: 80%;
            border: 1px solid #dee2e6;
           
            margin-top: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }

        img {
            border-radius: 5px;
        }

        a {
            color: #155724;
        }
    </style>

    <h1>Dashboard</h1>

    <button><a href="/admin/new-user">Add New User</a></button>
    <br><br>
        <form>
            <input type="text" placeholder="Search name,email,mobile" name="Search">
            <input type="submit" value="Search">
        </form>
        
        <% if (msg) { %>
            <div class="alert alert-danger"><%= msg %></div>
          <% } %>
          
          
          

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Image</th>
            <th>Verified</th>
            <th>Action</th>
        </tr>

        <% if (users.length> 0) { %>
            <% for (let i=0; i < users.length; i++) { %>
                <tr>
                    <td>
                        <%= users[i].name %>
                    </td>
                    <td>
                        <%= users[i].email %>
                    </td>
                    <td>
                        <%= users[i].mobile %>
                    </td>
                    <td><img src="/userImages/<%= users[i].image %>" alt="<%= users[i].image %>" width="100px"
                            height="100px"></td>

                    <td>
                        <% if (users[i].is_varified==0) { %>
                            <p>Not Verified</p>
                            <% } else { %>
                                <p>Is Verified</p>
                                <% } %>
                    </td>
                    <td>
                        <a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a>
                        <a href="/admin/delete-user?id=<%= users[i]._id %>"
                            class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this user?');">
                            Delete
                         </a>
                    </td>
                </tr>
                <% } %>
                    <% } else { %>
                        <td colspan="5">User Not Found</td>
                        <% } %>
    </table>

    <br><br>
    <a href="/admin/home">Go To Home </a>

    <% include('../layouts/footer.ejs') %>

   

